<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <title>访问失败</title>
    <meta name="description" content="错误页面">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
</head>
<body style="background-color: brown">
<script language="javaScript">


</script>

    <h1 style="color:white;margin-top:100px;text-align: center;font-size: 35px">获取用户信息失败</h1>
    <p style="color:white;margin-top:100px;text-align: center;font-size: 65px" th:text="${msg}"></p>


</body>
</html>